<!DOCTYPE html>
<html>
  <head>
    <title>MWRTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <!-- Header partial-->
      </div>
      <div class="navigator">
      	<nav class="navbar navbar-inverse" role="navigation"> 
           <ul class="nav nav-pills"> 
              <li> <%= link_to('Home', "#", :method => :delete) %> </li>
           </ul> 
        </nav> 
      </div>   
      <div class="container">
        <%= flash_messages %>
        <%= yield %>
      </div>

     <div class="footer">
        <!-- Footer partial-->
     </div>

    </div>

  </body>
</html>


